* {
    box-sizing: border-box;
  }
  
  html {
    font-size: 66%;
    font-family: $font-lato;
    position: relative;
  }
  ::-webkit-scrollbar {
    background: transparent;  /* Optional: just make scrollbar invisible */
    width: 0px;  /* Remove scrollbar space */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: $white;
}

body{
    color: $black;
    background-color: $black;
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
    line-height: 1.6;
    overflow-x: hidden;
}
div{
  color: $white!important;
}
h1{
  margin: 0;
  position: relative!important;
  color: $white;
}
a{
    color: $white;
    font-weight: 300;
    margin: -10px;
    padding: 10px;
    text-decoration: none;
    transition: .25s all ease-in-out;
    &:hover{
      color: $orange;
    }
  }

  ul li{
    list-style-type: none;
  }
  
  button {
    cursor: pointer;
  }
  .container{
    align-items: center;
    background: $grey;
    -webkit-box-shadow: 0 0 5px -.5px #D65A31;
    box-shadow: 0 0 5px -.5px #D65A31;
    display: flex;
    height: auto;
    flex-direction: column;
    margin: 0 auto;
    width: 700px;
    margin-bottom: 5rem;
  }
  .active{
    opacity: 1!important;
    transform: translate(0, 0)!important;
}
.fa-youtube{
  color: lighten(red, 10%);
  font-size: 2rem;
  left: 2px;
  outline: $black;
  position: relative;
  top: 2.5px;
}
.iconDiv{
  color: #393E46;
  font-size: .96rem;
  font-weight: 300;
  height: auto;
  text-align: center;
  width: 50%;
  word-break: break-word;
  margin: 0 auto;
  a{
    color: $white;
  }
}
img{
  position: relative;
  top: 0px;
  left: 1px;
  height: 50px;
  width: 50px;
}
h1{
  font-size: 3rem;
}
