.alert-success{
    background: $grey;
    color: $orange!important;
    font-size: 2.5rem;
    font-weight: 600;
    box-shadow: 0 2px 5px -2px #D65A31;
    display: flex;
    letter-spacing: 1.05px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    // transform: translate(-50%, -50%);
    z-index: 1002;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.alert-fail{
    @extend .alert-success;
    background: darkred;
    color:black;
}
.alert-undefined{
    @extend .alert-success;
    background: #000;
    color: #e6f9ff;
}
.alert-danger{
    @extend .alert-fail;

}