.header{
    align-items: center;
    background: $grey;
    -webkit-box-shadow: 0 2px 5px -2px #D65A31;
    box-shadow: 0 2px 5px -2px #D65A31;    display: flex;
    height: 70px;
    justify-content: space-between;
    padding: 0 25px;
    margin-bottom: 5rem;
    width: 100%;

    ul{
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: row-reverse;
      li{
        margin: 0 25px;
        transition: all .35s ease;
        &:hover{
          cursor: pointer;
          color: $orange;
        }
      }
    }
  }
  .header--h1{
    color: $white;
    font-family: $font-fugaz;
    position: relative;
    a{
      font-size:3.5rem;
    }
  }
