.saved--container{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.saved--title{
    margin-top: 25px;
}
.saved--workout-wrapper{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 25px;
    width: 75%;
}
.saved--workout-wrapper{
    span{
        color: $white;
    }
}
.saved--workout--wrapper-box{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    z-index: 100;
    transition: all .35s ease;
    cursor: pointer;
    span{
        margin: 20px 0;
    }
}
.saved--workout-details{
    flex-basis: 90%;
    opacity: 1;
    transition: all .35s ease;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    img{
        height: 30px;
        width: 30px;
        margin-right: 10px; 
    }
}
.saved--workout-details + a{
    overflow: hidden;
    text-align: center;
}
hr{
    background: $black;
    border: .5px dashed $green;
    bottom: 0;
    content: '';
    display: block;
    height: .25px;
    left: 50%;
    outline: $black;
    position: absolute;
    transform: translate(-50%, 0);
    width: 75%;
}

.saved--title-container{
    align-items: center;
    display: flex;
    margin-top: 25px;
    margin-bottom: 5px;
    position: relative;
    width: 100%;
}
.saved--title{
    flex-basis: 50%;
    text-align: center;
}
.saved--title h2{
    color: $white;
    font-size: 1.5rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 0 0 25px 0;
}
.strikeout {
    line-height: 1em;
    position: relative;
  }
  .strikeout::after {
    border-bottom: 3px solid $orange;
    content: "";
    left: 0;
    margin-top: calc(0.125em / 2 * -1);
    position: absolute;
    right: 30%;
    top: 50%;
  }