
.login--input-box{
    width: 50%;
    &:nth-of-type(2){
        margin-bottom: 25px;
    }
    input{
        margin: 15px 5px 5px 5px;
        outline: none;
        background: transparent;
        border: none;
        border-bottom: 2px solid #66A182;
        color: #EEE;
        opacity: .5;
        width: 235px;
        text-align: left;
        padding: 0 0 10px 10px;
    }
}
.login--input-box__small{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column-reverse;
        margin: 0 0px 0 0;
        a{
            margin: 5px 0;
        }
        small{
            margin: 20px 0;
        }
}
.login--title{
    font-size: 2rem;
}
.login--input-container{
    padding-left: 7rem;
}
.login--input-box{
    width: 50%;
    &:nth-of-type(2){
        margin-bottom: 25px;
    }
    input{
        margin: 15px 5px 5px 5px;
        outline: none;
        background: transparent;
        border: none;
        border-bottom: 2px solid #66A182;
        color: #EEE;
        opacity: .5;
        width: 235px;
        text-align: left;
        padding: 0 0 10px 10px;
    }
}
input:focus,
input:valid {
  border-bottom: 2px solid $orange;
}
input[type='submit']{
    color: $white;
}
input:invalid {
    outline: 0;
}
.login--container{
    background: #393E46;
    box-shadow: 0 0 5px -0.5px #66A182;
    height: auto;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-evenly;
    color: #EEE;
    width: 75%;
    margin: 0 auto;
    h1{
        width: 70%;
        margin: 16px auto 0 auto;
    }
}


